/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 img {
  object-fit: cover;
}

.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.margin-top {
  margin-top: -0.5rem !important;
}

.border-me {
  border: 6px double #F69220 !important;
}

.border-me2 {
  border: 6px double #EC1E79 !important;
}

.border-me:hover {
  border: 6px double #EC1E79 !important;
  box-shadow: 0px 0px 30px #2787C8;
}

.border-me2:hover {
  border: 6px double #F69220 !important;
  box-shadow: 0px 0px 30px #2787C8;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
